<div class="col-sm-2">
    <div  ng-include="'pricesMenu.html'">
    </div>
</div>
<div class="col-sm-10">
    <div class="row">
        <div class="col-sm-10">
            <form class="form-inline row" role="form">
                <div class="col-sm-10">
                    <div class="form-group">
                        <label class="form-label">日期：</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="date" ng-model="date"/>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-default" ng-click="houseDiff()">提交</button>
                </div>
            </form>
        </div>
    </div>
    <div ng-show="ajax" class="row col-sm-10" style="margin-top:20px">
        <div class="panel-heading">
            <h2 class="panel-title">
                {{sold.length}}个房源成交
            </h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-sm-1 text-center">id</th>
                    <th class="col-sm-2 text-center">描述</th>
                    <th class="col-sm-1">小区</th>
                    <th class="col-sm-1">挂牌价</th>
                    <th class="col-sm-1">成交价</th>
                    <th class="col-sm-1">成交时间</th>
                    <th class="col-sm-1">成交源</th>
                    <th class="col-sm-1">朝向</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in sold">
                    <td class="text-center">{{item.id}}</td>
                    <td class="text-center">{{item.desc}}</td>
                    <td>{{item.communityName}}</td>
                    <td>{{item.price | housePrice}}</td>
                    <td>{{item.soldPrice | housePrice}}</td>
                    <td>{{item.soldMils * 1000 | date: 'yyyy-MM-dd'}}</td>
                    <td>{{item.soldSource}}</td>
                    <td>{{item.orientation}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row col-sm-10" style="margin-top:20px">
        <div class="panel-heading">
            <h2 class="panel-title">
                {{disable.length}}个房源停售
            </h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-sm-1 text-center">id</th>
                    <th class="col-sm-1 text-center">描述</th>
                    <th class="col-sm-1">商圈</th>
                    <th class="col-sm-1">小区</th>
                    <th class="col-sm-1">性质</th>
                    <th class="col-sm-1">朝向</th>
                    <th class="col-sm-1">楼年代</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in disable">
                    <td class="text-center">{{item.id}}</td>
                    <td class="text-center">{{item.desc}}</td>
                    <td>{{item.circleName}}</td>
                    <td>{{item.communityName}}</td>
                    <td>{{item.usage}}</td>
                    <td>{{item.orientation}}</td>
                    <td>{{item.buildingYear}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

