body {
    padding-top: 70px;
    padding-bottom: 70px;
}

div#main {
    padding-left:6%;
    padding-right:6%
}

div#selector {
    width:8%;
    float:left;
}

div#list {
    width:92%;
    float:right;
}